<<<<<<< HEAD
.movie {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  min-height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #669999;
  font-size: calc(5px + 2vmin);
}

.btn-block {
  width: 100%;
  height: 60px;
  display: flex;
  padding-bottom: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #293d3d;
  font-size: calc(5px + 2vmin);
}

.load-btn {
  margin-top: 15px;
  background-color: #293d3d;
  color: white;
  cursor: pointer;
}

.load-btn:hover {
  background-color: #293d3d;
  color: rgb(175, 111, 52);

}

.load-btn:active {
  background-color: gray;
  background-color: #293d3d;
  color: rgb(175, 111, 52);

}

.load-btn:focus {
  outline: none;
}
=======
.movie {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  min-height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #669999;
  font-size: calc(5px + 2vmin);
}

.btn-block {
  width: 100%;
  height: 60px;
  display: flex;
  padding-bottom: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #293d3d;
  font-size: calc(5px + 2vmin);
}

.load-btn {
  margin-top: 15px;
  background-color: #293d3d;
  color: white;
  cursor: pointer;
}

.load-btn:hover {
  background-color: #293d3d;
  color: rgb(175, 111, 52);

}

.load-btn:active {
  background-color: gray;
  background-color: #293d3d;
  color: rgb(175, 111, 52);

}

.load-btn:focus {
  outline: none;
}
>>>>>>> origin/master
