.layout {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.layout-header {
  background-color: #293d3d;
  min-height: 80px;
  width: 100vw;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
  z-index: 102;

}

.layout-header h1:hover {
  color: rgb(175, 111, 52);
  cursor: pointer;
}

.layout-content {
  width: 82%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  flex: 1 0 auto;
  background-color: #669999;
  font-size: calc(10px + 2vmin);
  min-width:82%;
  float: left;
  margin: 80px 0 0 18%;
}

.layout-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #293d3d;
  min-height: 50px;
  font-size: calc(10px + 1.5vmin);
  color: white;
}
